### VisualStudioCode ###
/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Added by cargo
Cargo.toml
Cargo.lock
/target
/product/target
/product/Cargo.toml

#Rust
/product/src/backend/mod.rs 
/product/src/lib.rs

#Resources
/product/datasets
*.csv
*.json